@use "variables" as *;

.city-content {
  display: flex;
  align-items: center;
}
.city-remove {
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  cursor: pointer;
  color: #f13c3c;

  &__Btn {
    color: #f13c3c;
    filter: drop-shadow(1px 1px 5px #000);
    width: 30px;
  }
}
.city-remove__display {
  display: none;
}

.city-info {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-position: center;
  background-size: cover;
  border-radius: $border;
  padding: 1rem;
  margin: 0.5rem 1rem 0;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;

  &__left {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    &-location {
      h5 {
        font-size: 1.5rem;
        font-weight: 350;
      }
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    &-temperature {
      font-size: 3rem;
      font-weight: 250;
    }
  }
}
