@use "variables" as *;

.header-app {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0rem;

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      font-size: 2.5rem;
      color: $text-color;
      font-weight: 400;
    }

    &-button {
      border: none;
      font-size: 1.2rem;
      background: none;
      color: $text-color;
      font-weight: 500;
      filter: drop-shadow(1px 1px 5px #000);
    }
  }

  &__search {
    padding-top: 1rem;
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;

    &-icon {
      position: absolute;
      left: 12px;
      top: 65%;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      color: gray;
      pointer-events: none;
    }

    &-input {
      width: 100%;
      padding: 10px 10px 10px 40px; /* chap tomonda icon uchun joy */
      border-radius: $border;
      border: 1px solid #ccc;
      font-size: 16px;
      &::placeholder {
        color: gray;
      }
    }
  }

  &__cityListe {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: black;
    color: $text-color;
    border-radius: 0px 0px 6px 6px;
  }
}
.inputCity-liste {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.display {
  display: none;
}
