@use "variables" as *;
@use "mixins" as *;
@use "spinner";
@use "addCity";
@use "header";
@use "citycontent";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  
  @include phoneScreens() {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $colorBox;
  }
}

.wetter-app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: $background;
  color: $text-color;
  font-family: "Inter", sans-serif;

  @include phoneScreens() {
    width: 450px;
  }
}
