@import "variables";
@import "mixins" ;
@import "spinner" ;
@import "createCity" ;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  @include phoneScreens() {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $colorBox;
  }
}

.wetter-app {
  padding: 1rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $background;
  color: $text-color;
  font-family: "Inter", sans-serif;
  @include phoneScreens() {
    width: 450px;
  }
}
